.box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: bisque;
    margin: 5px;
    text-align: center;
}

.content{
    color: blue;
    background-color: lightgrey;
}

.newclass{
    color: wheat;
    background-color: yellow;
}